spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rental_management_db
    username: postgres
    password: postgres
  
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

logging:
  level:
    com.rental: DEBUG


